html {
  touch-action: manipulation;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  outline: none;
  appearance: none;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #cccccc;
  font-family: "Courier New", sans-serif;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.level-text {
  margin: 0;
  font-size: 40px;
  text-align: center;
}

.easy-text {
  color: #0eff39;
}

.normal-text {
  color: #0070ff;
}

.hard-text {
  color: #5f3fee;
}

.container {
  margin: 30px auto;
}

.timer {
  margin: 24px 0 10px 0;
  font-size: 32px;
  text-align: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
}

.board li {
  width: 40px;
  height: 40px;
  margin: 5px;
  line-height: 40px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.board li.easy-color {
  background: #0cb80c;
  box-shadow: 0 4px 0 #127112;
}

.board li.normal-color {
  background: #00aaff;
  box-shadow: 0 4px 0 #0088cc;
}

.board li.hard-color {
  background: #5f3fee;
  box-shadow: 0 4px 0 #361baf;
}

.board li.pressed {
  background: #cccccc;
  box-shadow: none;
  margin-top: 9px;
  margin-bottom: 1px;
}

.btn {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-family: "Courier New", sans-serif;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.start {
  background: #f44336;
  margin-bottom: 18px;
}

.change {
  background: #f79328;
}

.comment {
  margin-top: 24px;
  text-align: center;
  font-size: 24px;
}

.active {
  opacity: 0.6;
}

.level-select {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.level-select-inner {
  width: 300px;
  padding: 30px 10px;
  background: #ffffff;
  color: #333333;
  text-align: center;
}

.level-select-inner > p {
  margin: 0 0 24px 0;
}

.select-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.select-btn {
  cursor: pointer;
  padding: 7px 12px;
  color: #ffffff;
  border-radius: 4px;
}

.easy {
  background: #0cb80c;
}

.normal {
  background: #00aaff;
}

.hard {
  background: #5f3fee;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #333333;
  z-index: 1;
}

.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}
